{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
    <div id="Show Listing">
        <h2>Listing {{ list_id }}</h2>
        <h3>{{ listing.name }}</h3>
        <p>${{ listing.price }}</p>
        <p>{{ listing.description }}</p>
    </div>
   <ul class="pager" align="left">
  <li><a href="{{ url_for('index') }}">Show All</a></li>
  <li><a href="{{ url_for('listing_edit', listing_id=listing.id) }}">Edit Listing</a></li>
  <li><a href="{{ url_for('listing_delete', listing_id=listing.id) }}">Delete</a></li>
  </ul>
{% endblock %}




